In [121]:
import requests

def make_request(endpoint, payload=None):
  return requests.get(
      f'https://www.ncdc.noaa.gov/cdo-web/api/v2/{endpoint}',
      headers={'token': 'WBKsJKcmUpXqKqMAoGBZuuFwgqCWaktf'},
      params= payload
    )

In [149]:
response = make_request('datasets', {'startdate':'2024-01-01'})
response.status_code

200

In [123]:
response.json().keys()

dict_keys(['metadata', 'results'])

In [124]:
response.json()['metadata']

{'resultset': {'offset': 1, 'count': 11, 'limit': 25}}

In [148]:
response.json()['results']

[{'date': '2018-10-01T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 21.2},
 {'date': '2018-10-01T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 25.6},
 {'date': '2018-10-01T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 18.3},
 {'date': '2018-10-02T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 22.7},
 {'date': '2018-10-02T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 26.1},
 {'date': '2018-10-02T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 19.4},
 {'date': '2018-10-03T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 21.8},
 {'date': '2018-10-03T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 25.0},
 {'date': '2018-10-03T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 18.9},
 {'date': '2018-10-04T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 21.3},
 {'date': '2018-10-04T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 26.1},
 {'date': '2018-10-04T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 17.8},
 {'date': '2018-10-05T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 20.3},
 {'date': '2018-10-05T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 22.8},
 {'date': '2018-10-05T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 16.1},
 {'date': '2018-10-06T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 18.7},
 {'date': '2018-10-06T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 21.1},
 {'date': '2018-10-06T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 17.8},
 {'date': '2018-10-07T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 22.8},
 {'date': '2018-10-07T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 27.8},
 {'date': '2018-10-07T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 21.1},
 {'date': '2018-10-08T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 20.9},
 {'date': '2018-10-08T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 22.8},
 {'date': '2018-10-08T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 18.3},
 {'date': '2018-10-09T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 21.8},
 {'date': '2018-10-09T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 25.6},
 {'date': '2018-10-09T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 19.4},
 {'date': '2018-10-10T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 23.8},
 {'date': '2018-10-10T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 27.8},
 {'date': '2018-10-10T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 21.7},
 {'date': '2018-10-11T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 23.4},
 {'date': '2018-10-11T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 26.7},
 {'date': '2018-10-11T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 21.7},
 {'date': '2018-10-12T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 18.3},
 {'date': '2018-10-12T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 22.2},
 {'date': '2018-10-12T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 12.2},
 {'date': '2018-10-13T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 12.2},
 {'date': '2018-10-13T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 15.0},
 {'date': '2018-10-13T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 9.4},
 {'date': '2018-10-14T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 12.9},
 {'date': '2018-10-14T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 15.6},
 {'date': '2018-10-14T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 10.6},
 {'date': '2018-10-15T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 15.8},
 {'date': '2018-10-15T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 21.1},
 {'date': '2018-10-15T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 12.8},
 {'date': '2018-10-16T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 14.3},
 {'date': '2018-10-16T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 16.7},
 {'date': '2018-10-16T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 9.4},
 {'date': '2018-10-17T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 13.2},
 {'date': '2018-10-17T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 17.8},
 {'date': '2018-10-17T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 8.9},
 {'date': '2018-10-18T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 9.6},
 {'date': '2018-10-18T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 11.7},
 {'date': '2018-10-18T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 6.7},
 {'date': '2018-10-19T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 11.3},
 {'date': '2018-10-19T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 17.2},
 {'date': '2018-10-19T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 7.2},
 {'date': '2018-10-20T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 15.0},
 {'date': '2018-10-20T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 18.3},
 {'date': '2018-10-20T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 12.2},
 {'date': '2018-10-21T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 10.7},
 {'date': '2018-10-21T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 12.2},
 {'date': '2018-10-21T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 6.1},
 {'date': '2018-10-22T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 8.3},
 {'date': '2018-10-22T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 11.1},
 {'date': '2018-10-22T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 5.6},
 {'date': '2018-10-23T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 12.6},
 {'date': '2018-10-23T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 19.4},
 {'date': '2018-10-23T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 8.3},
 {'date': '2018-10-24T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 11.0},
 {'date': '2018-10-24T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 13.3},
 {'date': '2018-10-24T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 7.8},
 {'date': '2018-10-25T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 8.8},
 {'date': '2018-10-25T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 11.1},
 {'date': '2018-10-25T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 6.1},
 {'date': '2018-10-26T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 7.3},
 {'date': '2018-10-26T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 10.0},
 {'date': '2018-10-26T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 5.6},
 {'date': '2018-10-27T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 9.4},
 {'date': '2018-10-27T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 11.7},
 {'date': '2018-10-27T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 7.2},
 {'date': '2018-10-28T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 10.2},
 {'date': '2018-10-28T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 12.2},
 {'date': '2018-10-28T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 8.3},
 {'date': '2018-10-29T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 11.8},
 {'date': '2018-10-29T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 14.4},
 {'date': '2018-10-29T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 9.4},
 {'date': '2018-10-30T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 10.2},
 {'date': '2018-10-30T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 13.9},
 {'date': '2018-10-30T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 7.2},
 {'date': '2018-10-31T00:00:00',
  'datatype': 'TAVG',
  'station': 'GHCND:USW00014732',
  'attributes': 'H,,S,',
  'value': 12.6},
 {'date': '2018-10-31T00:00:00',
  'datatype': 'TMAX',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 17.8},
 {'date': '2018-10-31T00:00:00',
  'datatype': 'TMIN',
  'station': 'GHCND:USW00014732',
  'attributes': ',,W,2400',
  'value': 7.2}]

In [126]:
[(data['id'], data['name']) for data in response.json()['results']]

[('GHCND', 'Daily Summaries'),
 ('GSOM', 'Global Summary of the Month'),
 ('GSOY', 'Global Summary of the Year'),
 ('NEXRAD2', 'Weather Radar (Level II)'),
 ('NEXRAD3', 'Weather Radar (Level III)'),
 ('NORMAL_ANN', 'Normals Annual/Seasonal'),
 ('NORMAL_DLY', 'Normals Daily'),
 ('NORMAL_HLY', 'Normals Hourly'),
 ('NORMAL_MLY', 'Normals Monthly'),
 ('PRECIP_15', 'Precipitation 15 Minute'),
 ('PRECIP_HLY', 'Precipitation Hourly')]

In [127]:
# get data category id

response = make_request(
    'datacategories',
    payload={
        'datasetid': 'GHCND'
    }
)
response.status_code

200

In [128]:
response.json()['results']

[{'name': 'Evaporation', 'id': 'EVAP'},
 {'name': 'Land', 'id': 'LAND'},
 {'name': 'Precipitation', 'id': 'PRCP'},
 {'name': 'Sky cover & clouds', 'id': 'SKY'},
 {'name': 'Sunshine', 'id': 'SUN'},
 {'name': 'Air Temperature', 'id': 'TEMP'},
 {'name': 'Water', 'id': 'WATER'},
 {'name': 'Wind', 'id': 'WIND'},
 {'name': 'Weather Type', 'id': 'WXTYPE'}]

In [129]:
# get data type id
response = make_request(
    'datatypes',
    payload={
        'datacategoryid' : 'TEMP',
        'limit' : 100,
    }
)
response.status_code

200

In [130]:
[(datatype['id'], datatype['name']) for datatype in response.json()['results']][-5:] # look at the last 5

[('MNTM', 'Monthly mean temperature'),
 ('TAVG', 'Average Temperature.'),
 ('TMAX', 'Maximum temperature'),
 ('TMIN', 'Minimum temperature'),
 ('TOBS', 'Temperature at the time of observation')]

#Determine which Location Category we want
Now that we know which datatypes we will be collecting, we need to find the location to use. First, we need to figure out the location category. This is obtained from the
locationcategories endpoint by passing the datasetid :

In [131]:
# get location category id
response = make_request(
    'locationcategories',
    {
        'datasetid' : 'GHCND'
    }
)
response.status_code

200

In [132]:
import pprint
pprint.pprint(response.json())

{'metadata': {'resultset': {'count': 12, 'limit': 25, 'offset': 1}},
 'results': [{'id': 'CITY', 'name': 'City'},
             {'id': 'CLIM_DIV', 'name': 'Climate Division'},
             {'id': 'CLIM_REG', 'name': 'Climate Region'},
             {'id': 'CNTRY', 'name': 'Country'},
             {'id': 'CNTY', 'name': 'County'},
             {'id': 'HYD_ACC', 'name': 'Hydrologic Accounting Unit'},
             {'id': 'HYD_CAT', 'name': 'Hydrologic Cataloging Unit'},
             {'id': 'HYD_REG', 'name': 'Hydrologic Region'},
             {'id': 'HYD_SUB', 'name': 'Hydrologic Subregion'},
             {'id': 'ST', 'name': 'State'},
             {'id': 'US_TERR', 'name': 'US Territory'},
             {'id': 'ZIP', 'name': 'Zip Code'}]}

#Get NYC Location ID
In order to find the location ID for New York, we need to search through all the cities available. Since we can ask the API to return the cities sorted, we can use binary search
to find New York quickly without having to make many requests or request lots of data at once. The following function makes the first request to see how big the list of cities
is and looks at the first value. From there it decides if it needs to move towards the beginning or end of the list by comparing the city we are looking for to others
alphabetically. Each time it makes a request it can rule out half of the remaining data to search.

In [147]:
def get_item(name, what, endpoint, start=1, end=None):

    # find the midpoint which we use to cut the data in half each time
    mid = (start + (end if end else 1)) // 2

    # lowercase the name so this is not case-sensitive
    name = name.lower()

 # define the payload we will send with each request
    payload = {
        'datasetid' : 'GHCND',
        'sortfield' : 'name',
        'offset' : mid, # we will change the offset each time
        'limit' : 1 # we only want one value back
    }

    # make our request adding any additional filter parameters from `what`
    response = make_request(endpoint, {**payload, **what})

    if response.ok:
        # if response is ok, grab the end index from the response metadata the first time through
        end = end if end else response.json()['metadata']['resultset']['count']

        # grab the lowercase version of the current name
        current_name = response.json()['results'][0]['name'].lower()

        # if what we are searching for is in the current name, we have found our item
        if name in current_name:
            return response.json()['results'][0] # return the found item
        else:
            if start >= end:
                # if our start index is greater than or equal to our end, we couldn't find it
                return {}
            elif name < current_name:
                # our name comes before the current name in the alphabet, so we search further to the left
                return get_item(name, what, endpoint, start, mid - 1)
            elif name > current_name:
                # our name comes after the current name in the alphabet, so we search further to the right
                return get_item(name, what, endpoint, mid + 1, end)
    else:
        # response wasn't ok, use code to determine why
        print(f'Response not OK, status: {response.status_code}')

def get_location(name):
    return get_item(name, {'locationcategoryid' : 'CITY'}, 'locations')

When we use binary search to find New York, we find it in just 8 requests despite it being close to the middle of 1,983 entries:

In [146]:
# get NYC id
nyc = get_location('New York')
nyc

{'mindate': '1869-01-01',
 'maxdate': '2024-03-11',
 'name': 'New York, NY US',
 'datacoverage': 1,
 'id': 'CITY:US360019'}

#Get the station ID for Central Park
The most granular data is found at the station level:

In [135]:
central_park = get_item('NY City Central Park', {'locationid' : nyc['id']}, 'stations')
central_park

{'elevation': 42.7,
 'mindate': '1869-01-01',
 'maxdate': '2024-03-10',
 'latitude': 40.77898,
 'name': 'NY CITY CENTRAL PARK, NY US',
 'datacoverage': 1,
 'id': 'GHCND:USW00094728',
 'elevationUnit': 'METERS',
 'longitude': -73.96925}

#Request the temperature data
Finally, we have everything we need to make our request for the New York temperature data. For this we use the data endpoint and provide all the parameters we picked up
throughout our exploration of the API:

In [136]:
# get NYC daily summaries data
response = make_request(
    'data',
    {
        'datasetid' : 'GHCND',
        'stationid' : central_park['id'],
        'locationid' : nyc['id'],
        'startdate' : '2018-10-01',
        'enddate' : '2018-10-31',
        'datatypeid' : ['TMIN', 'TMAX', 'TOBS'], # temperature at time of observation, min, and max
        'units' : 'metric',
        'limit' : 1000
    }
)
response.status_code

200

#Create a DataFrame
The Central Park station only has the daily minimum and maximum temperatures.

In [137]:
import pandas as pd

df = pd.DataFrame(response.json()['results'])
df.head()

                  date datatype            station attributes  value
0  2018-10-01T00:00:00     TMAX  GHCND:USW00094728   ,,W,2400   24.4
1  2018-10-01T00:00:00     TMIN  GHCND:USW00094728   ,,W,2400   17.2
2  2018-10-02T00:00:00     TMAX  GHCND:USW00094728   ,,W,2400   25.0
3  2018-10-02T00:00:00     TMIN  GHCND:USW00094728   ,,W,2400   18.3
4  2018-10-03T00:00:00     TMAX  GHCND:USW00094728   ,,W,2400   23.3

We didn't get TOBS because the station doesn't measure that:

In [138]:
df.datatype.unique()

array(['TMAX', 'TMIN'], dtype=object)

Despite showing up in the data as measuring it... Real-world data is dirty!

In [139]:
if get_item(
    'NY City Central Park', {'locationid' : nyc['id'], 'datatypeid': 'TOBS'}, 'stations'
):
    print('Found!')

Found!

#Using a different station
Let's use LaGuardia airport instead. It contains TAVG (average daily temperature):

In [140]:
laguardia = get_item(
    'LaGuardia', {'locationid' : nyc['id']}, 'stations'
)
laguardia

{'elevation': 3,
 'mindate': '1939-10-07',
 'maxdate': '2024-03-11',
 'latitude': 40.77945,
 'name': 'LAGUARDIA AIRPORT, NY US',
 'datacoverage': 1,
 'id': 'GHCND:USW00014732',
 'elevationUnit': 'METERS',
 'longitude': -73.88027}

We make our request using the LaGuardia airport station this time and ask for TAVG instead of TOBS .

In [141]:
# get NYC daily summaries data
response = make_request(
    'data',
    {
        'datasetid' : 'GHCND',
        'stationid' : laguardia['id'],
        'locationid' : nyc['id'],
        'startdate' : '2018-10-01',
        'enddate' : '2018-10-31',
        'datatypeid' : ['TMIN', 'TMAX', 'TAVG'], # temperature at time of observation, min, and max
        'units' : 'metric',
        'limit' : 1000
    }
)
response.status_code

200

The request was successful, so let's make a dataframe:

In [142]:
df = pd.DataFrame(response.json()['results'])
df.head()

                  date datatype            station attributes  value
0  2018-10-01T00:00:00     TAVG  GHCND:USW00014732      H,,S,   21.2
1  2018-10-01T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   25.6
2  2018-10-01T00:00:00     TMIN  GHCND:USW00014732   ,,W,2400   18.3
3  2018-10-02T00:00:00     TAVG  GHCND:USW00014732      H,,S,   22.7
4  2018-10-02T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   26.1

We should check we got what we wanted: 31 entries for TAVG, TMAX, and TMIN (1 per day):

In [143]:
df.datatype.value_counts()

TAVG    31
TMAX    31
TMIN    31
Name: datatype, dtype: int64

Write the data to a CSV file for use in other notebooks.

In [152]:
df.to_csv('nyc_temperatures.csv', index=False)